.gallery__item {
    margin:0;
    padding:0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;

}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}


table {
  background: LavenderBlush;
  caption-side:     bottom;
  border-collapse:  collapse;
  color: black;
  font-size:          4em;
}
td {
  border: 10px solid white;
  text-align:       left;
}
.desr { vertical-align: top; }
.menu {background: white; font-size: 0.5em;}

h1, h2 {
    text-align: center;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.form {
  text-align: center;
}

nav{
  text-align: center;
}
nav ul{
  display: inline-block;
}

.page{
text-align:center;
  margin:0 auto;
}

.description{
  text-align: center;
  width: 100%;
  height: 20%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.grid-item {
    margin:0;
    padding:0;
    }

.gallery__img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: block;
}
}