{% load static %}

{% block javascript %}
  <script type='text/javascript' src="{% static 'show/js/ajax-script.js' %}"></script>
{% endblock %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'show/css/style.css' %}">
    <title>{% block title %}Gallery {% endblock %}</title>
  </head>
  <body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
    <script type='text/javascript' src="{% static 'show/js/ajax-script.js' %}"></script>

        {% if user.is_authenticated %}
            <nav>
              {{user}} | <a href="{% url 'account:logout' %}">Выход</a>
            </nav>
        {% else %}
            <nav>
              <a href="{% url 'account:login' %}"> Вход</a> |
              <a href="{% url 'account:registration' %}"> Регистрация</a>
            </nav>
        {% endif %}

  <nav>
    <a href="{% url 'show:index' %}">Главная</a>
      {% if user.is_authenticated %}
      |
        <a href="{% url 'show:add' %}">Добавить</a>
      {% endif %}
  </nav>
    <section>
    {% block content %}
    {% endblock %}
    </section>
  </body>
</html>