{% extends "show/basic.html" %}
{% block content %}
    <div class="container">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <input type="submit" value = 'Добавить'>
        </form>
    </div>

{% endblock %}
