{% extends "show/basic.html" %}

{% load static %}

{% block content %}

<div class='container'>
  <table class='tabledetail'>
    <tr><td class = 'menu user'>
      Автор: {{image.user }}|
    </td>
    <td class = 'menu'>
      Описание
    </td></tr>

    <tr><td class = 'td' width="70%">

    <figure class='gallery__item'>
      <img src='{{image.url}}'  alt='{{image.name }}' class='gallery__img'>
    </figure></td>

    <td class = 'desr'>{{image.description }}</td></tr>

    <tr><td colspan='2' class = 'menu'>
      <a href="{% url 'show:index' %}?page={{page_number}}">Назад</a> |
      <a class="imagelike {% if has_like %} pressed {% endif %}" id="like{{image.id}}" data-image_id='{{ image.id }}' href='#' >Нравится</a> |
       <div class = 'count_likes' id='count_likes_{{image.id}}'>{{image.likes_count}}</div>
  </table>

        <form method="POST" action="" id="new_comment_form">
          {% csrf_token %}
          {{form.as_p}}
        </form>
      <a class = 'imagecomment' id="button_add_comment" data-method = 'post' data-url="{% url 'show:comment' pk=image.pk %}" data-user='{{ user }}' data-image='{{ image.pk }}' href='#' >Добавить комментарий</a>

      <div id='comments'>
      {% if comments %}
        {% for comment in comments %}
          <div id='comment-{{comment.pk}}'>
          <h5>{{ comment.user }}</h5>
          <p>{{ comment.content }}</p>
          </div>
        {% endfor %}
      {% else %}
      <h5>Комментарий нет</h5>
      {% endif %}
      </div>
</div>



{% endblock %}