{% extends "show/basic.html" %}
{% block content %}
    <div class = "page">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        &nbsp;&nbsp; | &nbsp;&nbsp;
      {% endif %}
      {{page_obj.number}} страница
      {% if page_obj.has_next %}
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
      {% endif %}
    </div>
    {% if object_list %}
    <div class="container">
      <div class="gallery">
        {% for image, like_press in object_list  %}
           <figure class='gallery__item' >
            <div class="card">
                  <div class="gallery__user">
                  <b>{{image.user}}</b>
                </div>
                <div class="gallery__img">
                  <a href="{% url 'show:detail' pk=image.pk %}?page={{page_obj.number}}" ><img src="{{image.url}}"  class="img"></a>
                </div>

                <div class="gallery__description">
                  <p>{{image.description }}</p>
                    <a class= "imagelike {% if like_press %} pressed {% endif %}" id="like{{image.id}}" data-image_id='{{ image.id }}' href='{{ image.id }}/' >Нравится</a> |
                  <div class = 'count_likes' id='count_likes_{{image.id}}'>{{image.likes_count}}</div>
                </div>
            </div>
           </figure>
        {% endfor %}
          </div>
    </div>
    {% else %}
  <p>No images are available.</p>
  {% endif %}
{% endblock %}
