{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
    <title>{% block title %}Контакт {% endblock %}</title>
  </head>
  <body>
  <nav>
    <a href="{% url 'show:index' %}">Главная</a>
  </nav>
    <section>
    {% block content %}
    {% endblock %}
    </section>
  </body>
</html>