{% extends "show/basic.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2>Bxoд</h2>
    {% if user.is_authenticated %}
        <р>Вход выполнен</р>
    {% else %}
        <form method="post" class = 'form'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" vаluе="Войти">
        </form>
    {% endif %}

{% endblock %}