{% extends "show/basic.html" %}

{% block content %}
    <h1>Здравствуйте, {{ new_user.username }}!</h1>
    <p>Ваш аккаунт успешно создан. Авторизуйтесь прямо сейчас <a href="{% url 'login' %}">Войти</a>.</p>
{% endblock %}