{% extends "show/basic.html" %}

{% block title %}Создание аккаунта{% endblock %}

{% block content %}
    <div class="container">
        <h1>Создание аккаунта</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Создать аккаунт"></p>
        </form>
    </div>
{% endblock %}